<!doctype html>
<html lang="ja">
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/lib/highlight.css">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body>
    <h1><a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></h1>
    {{ content }}
    <small><a href="//beian.miit.gov.cn" title="beian.miit.gov.cn">豫ICP备20003564号-1</a> / <a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></small>
  </body>
</html>